/* custom properties */
:root {
    --clr-dark: hsl(0, 0%, 20%);
    --clr-light: hsl(0, 0%, 100%);
    --clr-grey: hsla(0, 0%, 69%, 0.432);
    
    --clr-accent: hsl(211, 80%, 51%);

    --border-radius: 12.5px;

    /* variable font size partially based on the viewport of the screen */
    font-size: clamp(1rem, 0.95rem + 0.25vw, 1.15rem);
}


/* utility classes */
body {
    font-family: var(--body-font-family);
    color: var(--clr-dark);
    background: linear-gradient(180deg, rgba(2,0,36,1) 0%, rgba(9,9,121,1) 35%, rgba(0,212,255,1) 100%); 
    overflow: hidden;
}

.container {
    width: min(1000px, 100% - 2rem);
    margin-inline: auto;
}

.title {
    font-family: var(--heading-font-family);
    color: var(--clr-light);
    font-size: 2.5rem;
}

.button {
    padding: .9em 3.25em;
    background-color: var(--clr-accent);
    border-radius: var(--border-radius);
    color: var(--clr-light);
    font-weight: 600;
    margin-top: .5em;
    display: block;
    width: 100%;
    font-size: .9rem;
    border: none;
    max-width: 500px;
}


/* general styling */


input,select {
    background-color: var(--clr-light);
    border: solid 1px var(--clr-grey);
    border-radius: calc(var(--border-radius) /2);
    padding: 1.25em .25em ;
    color: var(--clr-dark);
    width: 100%;
    margin-bottom: .5em;
}

/* code to remove spinners from input type number specifically from this product */
input[type="number"]::-webkit-outer-spin-button,
input[type="number"]::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

input[type="number"] {
    -moz-appearance: textfield;
}

select {
    border-radius: calc(var(--border-radius) /2);
}


section.screen {
    display: grid;
}

.header {
    text-align: center;
    margin-block: 1em;
    color: var(--clr-light);
    span {opacity: .5;}
}


.form, .table, .results {
    margin-block: 2em 1em;
    background-color: var(--clr-light);
    border: solid 1px var(--clr-grey);
    border-radius: var(--border-radius);
    padding: 1em;
    position: relative;

    .form__currency__value {
        font-size: 1.2rem;
    }
}


.switch {
    position: absolute;
    width: 4.5em;
    aspect-ratio: 1 / 1;
    background-color: var(--clr-light);
    left: 42.5%;
    top: 50%;
    border-radius: 50%;
    border: solid 1px var(--clr-grey);
    box-shadow: 1px 1px 1px 4px var(--clr-light);

    display: grid;
    place-items: center;
    cursor: pointer;
    transition: outline 350ms ease-in-out, scale 350ms ease-in-out;


    &:hover, &:focus-within {
        outline: 3px solid var(--clr-accent);
        transition: outline 350ms ease-in-out, scale 350ms ease-in-out;
        scale: 1.1;
    }
}

.results {
    font-weight: 400;

    .results__base {
        font-size: .9rem;
    }

    .results__target {
        font-size: 2rem;
        font-weight: 700;
    }

    p {
        margin: 0;
    }
}

img {
    position: fixed;
    width: 200%;
    top: 85%;
    z-index: -1;
}

/* media query for responsive design */
@media screen and (min-width: 1200px) {
    .container {
      width: min(1600px, 100% - 4rem);
    }

    section.screen {
        grid-template-columns: 7fr 3fr;
        gap: 3em;
    }
    
    .header {
        text-align: left;
    }
  }
  